<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Cards</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
   <!--  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet"> -->
    <link rel="stylesheet" href="app/templates/theme3/css/welcome-style.css">
</head>
<body class="welcome">
    <main class="cards">
        <section class="card blue">
            <div class="icon">
                <img src="app/templates/theme3/img/welcome/tool.png" alt="Solicite Ferramentas">
            </div>
            <h3>Solicite Ferramentas</h3>
                <a href="index.php?class=EmprestimoList"><button>Solicitar</button></a>
            <!-- </form> -->
        </section>
        <section class="card blue">
            <div class="icon">
                <img src="app/templates/theme3/img/welcome/toolbox.png" alt="Solicite Material">
            </div>
            <h3>Solicite Material</h3>
                <a href="index.php?class=PedidoList"><button>Solicitar</button></a>
        </section>
        <section class="card blue">
            <div class="icon">
                <img src="app/templates/theme3/img/welcome/toolbox.png" alt="Verifique Estoque">
            </div>
            <h3>Verifique Estoque</h3>
                <a href="index.php?class=MaterialList"><button>Verificar</button></a>
        </section>
    </main>
</body>
</html>